header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1, h3 {
    font-size: 5em;
    color: hotpink;
    font-family: Impact, sans-serif;
    letter-spacing: 10px;
    font-style: italic;
    font-variant: small-caps;
    margin-bottom: 10px;
}
 
h3 {
    font-size: 1em;
    font-style: normal;
    color: black;
    font-variant: normal;
    letter-spacing: 25px;
    word-spacing: 15px;
    margin-top: 10px;
}

.selecao, .btnSort, .acertos, .sorteio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.selecao > input {
width: 1.5em;
font-size: 4em;
margin-left: 15px;
background-color: pink;
color: grey;
}

.btnSort > button{
background-color: hotpink;
font-size: 1em;
padding: 10px 25px;
font-variant: small-caps;
font-weight: bold ;
}

footer{
    background-color: black;
    height: 100px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer > p{
    color: white;
    font-variant: small-caps;
}